body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/17/83/88/178388f7f8fe92b7848c6c0ddfb56f26.jpg");
  background-size: 100% 100%;
  background-color:000;
  background-repeat: no-repeat;
  margin:0;
}
